/* Основные стили */
@font-face {
  font-family: 'Cy Grotesk Grand Dark';
  src: url('fonts/cy-grotesk-grand-dark.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  background-color: #272727;
  text-align: center;
}

section {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 200px;
}

p {
  font-size: 20px;
}

/* Контейнер для фона */
.background-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120vw;
  height: 120vh;
  overflow: hidden;
  transform: translate(-50%, -25%);
  z-index: -1;
}

/* Градиент (НЕ вращается) */
.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(39, 39, 39, 0.9) 10%, rgba(39, 39, 39, 0.95) 50%, rgba(39, 39, 39, 1) 60%);
  z-index: 1;
}

/* JPG-фон (ТОЛЬКО он вращается) */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/gavryland-ava-3.png') no-repeat center center;
  background-size: contain;
  transition: transform 1s ease-in-out;
  z-index: 0;
  will-change: transform; /* Оптимизация анимации */
}

h1 {
  font-size: 4em;
  font-family: 'Cy Grotesk Grand Dark', sans-serif;
  color: #E8E74E;
  text-shadow: 2px 2px 0 #FF1F68;
  text-align: center;
}

h2, h3 {
  font-size: 24px;
  font-family: 'Cy Grotesk Grand Dark', sans-serif;
  color: #ffffff;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-family: 'Cy Grotesk Grand Dark', sans-serif;
  background-color: #FF1F68;
  color: white;
  font-size: 1.3em;
  text-align: center;
  width: 380px;
  height: 80px;
  line-height: 80px;
  border-radius: 8px;
  margin: 20px auto;
}

.circle-btn {
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #FF1F68;
  margin: 0 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.circle-btn img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.responsive-image {
  width: 20em;
  height: auto;
}

/* Секции */
.hero-section {
  background: url('hero.jpg') no-repeat center center / cover;
  display: flex;
  flex-direction: column;
  align-items: top;
  margin-top: 10em;
  justify-content: center;
}

.video-scroll {
  display: flex;
  overflow-x: scroll;
}

.about, .texts, .merch, .subscribe {
  padding: 50px;
}

.merch-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.merch-content img {
  width: 400px;
  height: 400px;
  margin-right: 20px;
}

.subscribe form {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.subscribe input {
  padding: 10px;
  font-size: 1.3em;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  border: none;
  border-radius: 8px;
  outline: none;
  width: 100%;
}

.subscribe button {
  font-family: 'Cy Grotesk Grand Dark', sans-serif;
  background-color: #FF1F68;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 80px;
}

.social-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #272727;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: left;
  width: 220px;
}

.card i {
  font-size: 36px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1em;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
}

.carousel {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.video-cards {
  display: flex;
  transition: transform 0.5s ease;
}

.video-card {
  width: 35vw;
  padding-left: 80px;
  border-radius: 16px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.video-card iframe {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video-card h2 {
  font-size: 14px;
  margin: 10px 0 0;
}

div.fp-watermark {
  display: none;
}

/* Анимация глаза */
.slogan-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 80vw;
  position: relative;
}

.slogan-left {
  width: auto;
  height: 100%;
}

.eye-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.eye-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.pupil {
  position: absolute;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.05s linear;
  background-color: inherit;
}

.eye {
  width: auto;
  height: 100%;
}

.slogan-right {
  width: auto;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  align-items: center;
  justify-content: center;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 900px) {
  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  .video-card {
    padding-left: 40px;
    width: 60vw;
  }

  .background-container {
    width: 150vw;
    height: 150vh;
    transform: translate(-50%, -35%);
  }

  .background-gradient {
    background: linear-gradient(rgba(39, 39, 39, 0.5) 10%, rgba(39, 39, 39, 0.8) 30%, rgba(39, 39, 39, 1) 60%);
  }

  .btn {
    width: 80%;
    font-size: 1em;
  }

  .circle-btn {
    width: 48px;
    height: 48px;
  }

  .circle-btn img {
    width: 24px;
    height: 24px;
  }

  .responsive-image {
    width: 15em;
  }

  .merch-content img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .subscribe form {
    flex-direction: column;
    gap: 10px;
  }

  .subscribe input, .subscribe button {
    width: 100%;
    font-size: 1em;
  }

  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}