/* Основные стили */
@font-face {
  font-family: 'Cy Grotesk Grand Dark';
  src: url('fonts/cy-grotesk-grand-dark.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

section {
max-width: 1200px;
margin: auto;
padding-bottom: 200px;

}


body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    background-color: #272727;
    text-align: center;
  }
  .background {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
linear-gradient(rgba(39, 39, 39, 0.9) 10%, rgba(39, 39, 39, 0.95) 50%, rgba(39, 39, 39, 1) 60%)
, 
    url('images/gavryland-ava-3.png') no-repeat center center fixed; 
    opacity: 1; /* Ensure the image is fully visible */
    background-size: cover;
  }
  
  
  .background-container {
    position: fixed; /* Fixed positioning */
    top: 80%;
    left: 50%;
    width: 90vw;
    height: 90vw;
    overflow: hidden; /* Prevents overflow */
    transform: translate(-50%, -50%); /* Centering the container */
    z-index: -1; /* Layering below other content */
  }

  h1 {
    font-size: 4em;
    font-family: 'Cy Grotesk Grand Dark', sans-serif;
    color: #E8E74E;
    text-shadow: 2px 2px 0 #FF1F68;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    font-family: 'Cy Grotesk Grand Dark', sans-serif;
    color: #ffffff;
    text-align: center;
  }

  h3 {
    font-size: 24px;
    font-family: 'Cy Grotesk Grand Dark', sans-serif;
    color: #ffffff;
    text-align: center;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
.btn {
  display: inline-block;
  font-family: 'Cy Grotesk Grand Dark', sans-serif;
  background-color: #FF1F68;
  color: white;
  font-size: 1.3em;
  text-align: center;
  width: 380px;
  height: 80px;
  line-height: 80px;
  border-radius: 8px;
  margin: 20px auto;
}

.circle-btn {
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #FF1F68;
  margin: 0 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.circle-btn img {
  width: 32px; /* Размер иконки */
  height: 32px;
  object-fit: contain;
}

.responsive-image {
  width: 20em;
  height: auto; /* This maintains the aspect ratio */
}  

  /* Секции */
  .hero-section {
    background: url('hero.jpg') no-repeat center center / cover;
    display: flex;
    align-items: top;
    margin-top: 10em;
    justify-content: center;
  }
  
 
  
  .video-scroll {
    display: flex;
    overflow-x: scroll;
  }
  
  .about, .texts, .merch, .subscribe {
    padding: 50px;
  }
  
  .merch-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .merch-content img {
    width: 400px;
    height: 400px;
    margin-right: 20px;
  }
  
  .subscribe form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  
  .subscribe input {
    padding: 10px;
    font-size: 1.3em;
    display: inline-block;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-size: 24px;
    text-align: left;
    border: none;
    border-radius: 8px;
    outline: none;
    width: 100%;
  }
  
  .subscribe button {
    display: inline-block;
    font-family: 'Cy Grotesk Grand Dark', sans-serif;
    background-color: #FF1F68;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.3em;
    background-color: #FF1F68;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 80px;
  }
  
  .social-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cards {
    display: flex;
    justify-content: space-between; /* Distributes cards evenly */
}

.card {
    background-color :#272727;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: left;
    width: 220px; /* Adjust the width according to your needs */
}

.card i {
    font-size: 36px; /* Icon size */
    margin-bottom: 10px;
}

.card h2 {
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0; /* Remove default h2 margin */
}

.carousel {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.video-cards {
  display: flex;
  transition: transform 0.5s ease;
}

.video-card {

 width: 800px;
  margin: 20px;

  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.video-card iframe {
  border-radius: 8px;
  width: 100%; /* Ширина будет адаптироваться в зависимости от родительского элемента */
  height: auto; /* Высота используется для поддержания соотношения сторон 16:9 */
  aspect-ratio: 16 / 9; /* Поддержка соотношения сторон для современных браузеров */
}

.video-card h2 {
  font-size: 14px;
  margin: 10px 0 0;
}

div.fp-watermark {
  display: none;
}

